<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e00c988d1a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <img src="/images/logo-mercado-liebre.svg" class="logo" />
        <h2 class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjetas de crédito
        </h2>
      </div>
      <a href="#" class="hamburguer-button">
        <i class="fa-solid fa-bars"></i>
      </a>
      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
          <li>
            <a href="/register"
              >Creá tu cuenta<i class="fa-solid fa-credit-card"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              >Ingresa<i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="#"
              >Mis compras<i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="banner">
      <img src="images/img-home-banner.jpg" alt="Banner de ofertas" />
    </section>
    <main>
      <form action="/crearProducto" method="POST" class="create-formulario">
        <section class="last-visit">
          <h3>Basado en tu última visita</h3>
          <div class="products">
            <article class="shade">
              <img
                src="images/img-cafetera-moulinex.jpg"
                alt="Cafetera"
                class="product_img"
              />
              <div class="main-article">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                  <p class="price">$6.770</p>
                  <p class="discount">40% off</p>
                </div>
                <h4 class="description">Cafetera Moulinex</h4>
              </div>
            </article>
            <article class="shade">
              <img
                src="images/img-macbook-pro-2019.jpg"
                alt="MacBook"
                class="product_img"
              />
              <div class="main-article">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                  <p class="price">$230.000</p>
                  <p class="discount">20% off</p>
                </div>
                <h4 class="description">MacBook Pro 2019</h4>
              </div>
            </article>
            <article class="shade">
              <img
                src="images/img-samsung-galaxy-s10.jpg"
                alt="Teléfono Móvil Samsung Galaxy"
                class="product_img"
              />
              <div class="main-article">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                  <p class="price">$70.500</p>
                  <p class="discount">10% off</p>
                </div>
                <h4 class="description">Samsung Galaxy S10</h4>
              </div>
            </article>
            <article class="shade">
              <img
                src="images/img-tv-samsung-smart.jpg"
                alt="SmartTv Samsung"
                class="product_img"
              />
              <div class="main-article">
                <i class="fas fa-truck"></i>
                <div class="price-off">
                  <p class="price">$23.200</p>
                  <p class="discount">5% off</p>
                </div>
                <h4 class="description">SmartTv Samsung 43"</h4>
              </div>
            </article>
            <section class="offers">
              <h3>Ofertas</h3>
              <div class="products">
                <article class="shade">
                  <img
                    src="images/img-cafetera-moulinex.jpg"
                    alt="Cafetera"
                    class="product_img"
                  />
                  <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <div class="price-off">
                      <p class="price">$6.770</p>
                      <p class="discount">40% off</p>
                    </div>
                    <h4 class="description">Cafetera Moulinex</h4>
                  </div>
                </article>
                <article class="shade">
                  <img
                    src="images/img-macbook-pro-2019.jpg"
                    alt="MacBook"
                    class="product_img"
                  />
                  <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <div class="price-off">
                      <p class="price">$230.000</p>
                      <p class="discount">20% off</p>
                    </div>
                    <h4 class="description">MacBook Pro 2019</h4>
                  </div>
                </article>
                <article class="shade">
                  <img
                    src="images/img-samsung-galaxy-s10.jpg"
                    alt="Teléfono Móvil Samsung Galaxy"
                    class="product_img"
                  />
                  <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <div class="price-off">
                      <p class="price">$70.500</p>
                      <p class="discount">10% off</p>
                    </div>
                    <h4 class="description">Samsung Galaxy S10</h4>
                  </div>
                </article>
                <article class="shade">
                  <img
                    src="images/img-tv-samsung-smart.jpg"
                    alt="SmartTv Samsung"
                    class="product_img"
                  />
                  <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <div class="price-off">
                      <p class="price">$23.200</p>
                      <p class="discount">5% off</p>
                    </div>
                    <h4 class="description">SmartTv Samsung 43"</h4>
                  </div>
                </article>
              </div>
            </section>
          </div>
        </section>
      </form>
      <footer class="footer">
        <div class="end-page">
          <i class="fa-solid fa-credit-card"></i>
          <p class="item-end-page">Pago con tarjeta o en efectivo</p>
          <p class="parrafo-end-page">
            Con mercadoLiebreCash tenés coutas sin intereses con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div class="end-page">
          <i class="fa-solid fa-gift"></i>
          <p class="item-end-page">Envío gratis desde los $2500</p>
          <p class="parrafo-end-page">
            Sólo por estar registrad@ en mercadoLiebre tenés envío gratis en
            miles de productos. Es un beneficio de mercadoPuntos
          </p>
        </div>
        <div class="end-page">
          <i class="fa-solid fa-user-shield"></i>
          <p class="item-end-page">Seguridad de prinipio a fin</p>
          <p class="parrafo-end-page">
            ¿No te gusta? !Devolvélo! En mercadoLiebre no hay nada que no podas
            hacer porque estas siempre protegid@
          </p>
        </div>
      </footer>
      <div>
        <p class="firm">Copyright 1999-2000 mercadoLiebre S.R.L</p>
      </div>
    </main>
  </body>
</html>
